<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Multiplayer Tetris - Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Retro Style CSS -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Google Font for Retro Look -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="static/js/index.js"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-container bg-dark text-white p-4">
                    <h2 class="text-center">Sign Up</h2>
                    <form action="/signup" id="signup-form" onsubmit="return validateSignupForm()" method="post" class="form-group">
                      <input type="text" id="username" name="username" class="form-control mb-3" value="{{ username }}" required>
                        <input type="password" id="password" name="password" class="form-control mb-3" placeholder="Password" required>
                        <input type="password" id="password-confirmation" name="password_confirmation" class="form-control mb-3" placeholder="Confirm Password" required>
                        <p class="error-message text-danger" id="error-message">
                            {% with messages = get_flashed_messages(category_filter=["error"]) %}
                                {% if messages %}
                                    {{ messages[0] }}
                                {% endif %}
                            {% endwith %}
                        </p>
                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                        <p class="switch-form text-center mt-3">Already have an account? <a href="/login" class="text-info">Log in here!</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
